._*
*.swp
*.bak
*.asv
*.sif
**/__pycache__/**
.DS_Store

BIDScramble/venv/*
BIDScramble/build/*
BIDScramble/*.egg-info/*
/BIDScramble/.tox/

usecase-*/input*
usecase-*/scrambled*
usecase-*/output*
usecase-*/venv

usecase-2.3/fieldtrip
usecase-2.4/eeglab
usecase-2.5/spm12
.vscode/settings.json
